# Database Configuration
DB_USERNAME=
DB_PASSWORD=

# JWT Configuration
# Generate a secure random string for JWT_SECRET
JWT_SECRET=

# Ethereum Configuration
ETH_PASSWORD=
ETH_ADMIN_WALLET_FILENAME=admin.wallet

# Mail Configuration
MAIL_USERNAME=
MAIL_PASSWORD=
