# Database Configuration
DB_USERNAME=root
DB_PASSWORD=password
spring.datasource.jdbc-url=jdbc:mysql://localhost:3306/bcssafy?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull&rewriteBatchedStatements=true&useSSL=false

# JWT Configuration
JWT_SECRET=your_jwt_secret_here

# Ethereum Configuration
ETH_PASSWORD=your_eth_password_here
ETH_ADMIN_WALLET_FILENAME=admin.wallet

# Mail Configuration
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_password
